In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('services.csv')

In [4]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [5]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [6]:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [7]:
df[['alternate_name','audience','keywords','website']]

,alternate_name,audience,keywords,website
0,NaN,"Older adults age 55 or over, ethnic minorities...","ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN
1,NaN,Residents of San Mateo County age 55 or over,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN
2,NaN,Older adults age 55 or over who can benefit fr...,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN
3,NaN,"Parents, children, families with problems of c...","INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN
4,NaN,Low-income working families with children tran...,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN
5,NaN,Any age,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN
6,NaN,"Older adults who have memory or sensory loss, ...","ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN
7,NaN,"Senior citizens age 60 or over, disabled indiv...","ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN
8,NaN,"Ethnic minorities, especially Spanish speaking","EDUCATION SERVICES, Library, Libraries, Public...",NaN
9,NaN,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN
10,NaN,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN
11,NaN,"Adults, parents, children in 1st-12th grades i...","EDUCATION SERVICES, Adult, Alternative, Litera...",NaN
12,NaN,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN
13,NaN,Individuals or families with low or no income ...,"COMMUNITY SERVICES, Interpretation/Translation...",NaN
14,NaN,Adult alcoholic/drug addictive men and women w...,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN
15,NaN,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN
16,NaN,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN
17,NaN,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN
18,NaN,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN
19,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN
21,Fotos para pasaportes,"Profit and nonprofit businesses, the public, m...","Salud, Medicina",http://www.example.com
22,NaN,"Second service and nonprofit businesses, the p...","Ruby on Rails/Postgres/Redis, testing, wic",http://www.example.com

In [9]:
df.dtypes=='object'

id                         False
location_id                False
program_id                 False
accepted_payments           True
alternate_name              True
application_process         True
audience                    True
description                 True
eligibility                 True
email                       True
fees                        True
funding_sources             True
interpretation_services     True
keywords                    True
languages                   True
name                        True
required_documents          True
service_areas               True
status                      True
wait_time                   True
website                     True
taxonomy_ids                True
dtype: bool

In [11]:
df.dtypes[df.dtypes == 'object'].index

Index(['accepted_payments', 'alternate_name', 'application_process',
       'audience', 'description', 'eligibility', 'email', 'fees',
       'funding_sources', 'interpretation_services', 'keywords', 'languages',
       'name', 'required_documents', 'service_areas', 'status', 'wait_time',
       'website', 'taxonomy_ids'],
      dtype='object')

In [12]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,fees,funding_sources,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
count,1,1,23,14,23,17,1,21,21,1,21,1,23,1,21,23,19,2,1
unique,1,1,20,14,23,15,1,10,14,1,18,1,23,1,10,3,7,1,1
top,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,Resident of California to obtain a library card,passports@example.org,None.,City,We offer 3-way interpretation services over th...,"EDUCATION SERVICES, Library, Libraries, Public...",Spanish,Fair Oaks Adult Activity Center,Government-issued picture identification,San Mateo County,active,No wait.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
freq,1,1,2,1,1,2,1,11,3,1,4,1,1,1,10,21,10,2,1